.mon_tableau {
  border-collapse: collapse;
  border: 1px solid rgb(29, 0, 0);
}
.mon_tableau td {
  border: 1px solid rgb(29, 0, 0);
  padding: 10px;
}

.mon_tableau th {
  border: 1px solid rgb(29, 0, 0);
  padding: 10px;
}
